.calender{
    display: grid;
    grid-template-columns: repeat(7, 1fr) ;
    grid-template-rows: 30px repeat(5, 50px);
    row-gap: 20px;
    column-gap: 10px;
}
.date , .day{
    background-color: aquamarine;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1.25em;
}
.day{
    font-size: 1em;
    background-color: lightgray;
    height: 40px;
}
h3{
    text-align: center;
    
}